/*
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

/* Fundo azul claro - #A8C7FF;*/
/* Fundo escuro - #001A66;
@font-face {
    -fx-font-family: "Lucida Console";
}
*/

.root {
    -fx-background-color: #A8C7FF;
    -fx-font-family: "Lucida Console";
}

#header_botoes {
    -fx-background-color: #001A66;
    -fx-spacing: 25px;
    -fx-alignment: center;
}

#header_titulo {
    -fx-background-color: #001A66;
    -fx-padding: 10px;
}

#titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#botaoCadastro, #botaoSair, #botaoSenha {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

#label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#botaoCadastro, #botaoSair {
    -fx-font-size: 16px;
}

#label_campos1, #label_campos2, #check_logado {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#box_login {
    -fx-background-color: #001A66;
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 0); /* Sombra */
    -fx-spacing: 15px;
    -fx-alignment: center;
}

/*  #F6F6FE */
#campoEmail, #campoSenha {
    -fx-pref-width: 550px;
    -fx-pref-height: 50px;
    -fx-background-color: #F6F6FE;
    -fx-padding: 0 35px;
    -fx-font-size: 14px;
}

#botaoLogin {
    -fx-background-color: #FF3B3B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-pref-width: 550px;
    -fx-pref-height: 50px;
}

#box_titulo {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-alignment: center;
}